doctype html
html(lang="en")
  head
    title= branch
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body
    .right.menu
      if !token
        ul
          li
            a(href='/login') Login
    h1 GitHub Preview
    form.search
      input.input.url(type='url' name='url' size='100' placeholder='https://github.com/weapp/ghpreview/tree/master/examples' value='https://github.com/weapp/ghpreview/tree/master/examples')
      input.input.submit(type='submit')

